<div class="copyright">
    <div class="container-fluid btn-yellow text-body copyright py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center text-white">
                    &copy; <a class="fw-semi-bold text-white" href="#">2024 Kariton</a>, All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</div>
